<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <wb_priceslider>
            <general>
                <enable>1</enable>
                <sort_by_stock>1</sort_by_stock>
                <step>1</step>
            </general>
        </wb_priceslider>
    </default>
</config>
